name: Generate Snake

on:
  schedule:
    # Roda a cada 12 horas (pode ajustar)
    - cron: "0 */12 * * *" 
  workflow_dispatch:

# Esta seção é a correção para o erro 403 / Permission denied
permissions:
  contents: write 

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/github-contribution-grid-snake.svg
          
      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist
          
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
